.home {
  // height: 96vh; //problem on responsive (added)
  .homeContent {
    background: linear-gradient(115deg, $color-1 50%, transparent 100%);
    min-height: $minHeight; 
    width: 100%;
    min-height: 500px; 
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after { //'after' is element of homeContent - background pic come from here
      content: '';
      position: absolute; //to place it as I want
      height: 100%;
      width: inherit;
      background: url('../../media/ConUHackII.webp') no-repeat center/cover;
      background-position: left center;
      z-index: -1; //put image behind
      filter: brightness(30%);
    }

    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 5rem;
        font-family: $font-3;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px $black;
      }
      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 7rem;
        color: $color-3;
        text-shadow: 1px 4px 1px $black;
      }

      .resume {
        .container {
          //gradient
          margin: auto;
          position: relative;
          height: 130px;
          width: 20rem;
          overflow: hidden; 

          a, .gradient {
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
          }
  
          a {
            font-size: 1.2rem;
            font-family: $font-2;
            text-align: center;
            color: $color-3;
            text-transform: uppercase;
            letter-spacing: .5rem;
            padding: 1rem 2rem;
            z-index: 1; //gradient
            background: $color-1;
            width: 92%;
            mix-blend-mode: multiply;
            transition: 0.2s ease;
            // border-radius: 8px;
            // box-shadow: 0 5px 1px rgb(15, 15, 15);
  
            &:hover {
              background: $color-1;
              color: $color-4;
            }
          }
  
          .gradient {
            height: 6.5rem;
            width: 300%;
            background: linear-gradient(90deg, rgb(4, 245, 233),rgb(4, 96, 245), rgb(230, 150, 85));
            
            animation: gradient 2.5s linear infinite alternate;
          }
        }
        

        @keyframes gradient {
          0% {
            transform: translate(-25%, -50%)
          }
          50% {
            transform: translate(-50%, -50%)
          }
          100% {
            transform: translate(-75%, -50%)
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  .homeContent {
    margin: 0 !important;
  }
}
@media screen and (max-width:580px){
  .homeContent {
    &:after {
    background: url('../../media/ConUHackII.webp') no-repeat 60% 50%/cover !important;
    // background-position: left !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}